div{
  display: block;
  border-radius: 10px;
  background-color: gray;
  width: 50%;
  text-align: center;
  margin: 100px auto;
  height: auto;
}

body{
  background-color: green;
}

h1 {
  font-size: 80px;
  text-align: center;
  display: inline-block;
  margin: auto;
}
